<!---------  USER LOGIN PAGE-------------> 
 
 
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

   {% load static %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>  </title>
    

    <link rel="stylesheet" href="/static/2.css/my.css">    <!-- my csss -->
</head>





<body>
    <div class="container">
        <div class="row">
          
                <span class="col1">
                <img src="https://5.imimg.com/data5/GS/LX/RK/SELLER-28915298/job-portal-service-500x500.jpg" width="400px"  height="190px">
                </span>
                
                
                <div class="col2 ">
                    <span  class="span">
                        <span style="color:red">Online Job </span>
                        <span style="color:green"> Portal System</span>
                    </span>


                    <div class="col3">
                        <span style="color:blue"><i class="fa fa-twitter "></i></span>
                        <span style="color:rgb(197, 42, 182)"><i class="fa fa-facebook "></i></span>
                        <span style="color:cyan"><i class="fa fa-linkedin "></i></span>
                        <span style="color:rgb(210, 44, 72)"><i class="fa fa-instagram"></i></span>
                        <span style="color:rgb(100, 100, 225) "><i class="fa fa-telegram "></i></span>
                    </div>
                </div>
            </div>
        </div>
        <nav class=" navbar navbar-expand-sm">
         <a class="navbrand"> Job Portal</a>
         <ul class="nav">
            <li class="navitem"> <a class="navlink" href="/training1/ " style="margin-left:280px"><i class="fa fa-home margin-right:2px"></i>Home</a></li>
            <li class="navitem"> <a class="navlink" href="#" ><i class="fa fa-users"></i>Latest Jobs</a></li>
            <li class="navitem"> <a class="navlink" href="/trainuser/"><i class="fa fa-user-plus"></i> User Login</a></li>
            <li class="navitem"> <a class="navlink" href="/trainrecruiter/"><i class="fa fa-sign-language"></i>Recruiter Login</a></li>
            <li class="navitem"> <a class="navlink" href="/trainadmin/"> <i class="fa fa-sign-in "></i>Admin Login</a></li>
            <li class="navitem"> <a class="navlink" href="#"><i class="bi bi-telephone"></i>Contact Us</a></li>
         </ul>
        </nav>

        <marquee class="marquee2">   USER &nbsp; &nbsp;LOGIN   </marquee>

        <!--- creating user form---------->
        <form class="form1"  method="post" >
            {% csrf_token  %}
            <label><b>Email Id:</b></label><br>
            <input type="email"  class="formcontrol" name="uname" placeholder="Enter Email Id" size="197">
        <br> <br>

            
            <label><b>Password:</b></label><br>
            <input type="password"  class="formcontrol" name="pwd" placeholder="Enter Password" size="197">
              
             <br>

            <input type="submit" value="Login" class="btn btn-primary">
            <a href="/usersignup/"  class="btn btn-primary "> CREATE AN ACCOUNT</a>
    
        </form>

        <!--- using footerrrrrrrr-->
        <div class="mt-3" style="background-color:black; width:100%;height:350px;">
            <div class="footer1">
            <div class="row1">
                <div class="col-md-4 mt-3">
                    <h3  class="my"> Contact Information </h3>
                    
                    <p style="color:yellow;  font-size:18px">&nbsp; <i class="fa fa-map-marker text-danger"></i>&nbsp;  RT Nagar, Bangalore-560032 </p>
                    <p style="color:yellow;  font-size:18px"> &nbsp;<i class="fa fa-envelope text-danger "></i> &nbsp; abc586@gmail.com</p>
                    <p style="color:yellow;  font-size:18px"> &nbsp;<i class="fa fa-mobile text-danger "></i> &nbsp;+91 8602768 / +91 9229465037 </p>
                    <p style="color:yellow;  font-size:18px"> &nbsp;<i class="fa  fa-globe text-danger"></i>&nbsp; &nbsp;www.jobportals.com</p>
                
                </div>
                
                <div class="col-md-4 mt-3">      <!--- this is by using bootstrap-->
                  <h3 class="my" >Online Placement</h3> 
                  <p style="color:yellow;  font-size:14px ;text-align:left; width:25%"> 
                    An employment website is a website that deals specially with employment or careers.My employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards.
                  </p>       
        </div>
        <div class="col-md-4 mt-3">
            <h3 class="my"> NewsLetter</h3>
            <p style="color:yellow;  font-size:18px ;text-align:left; width:25%"> 
            If You Want Any Extra Information Then Send Your Email Id.
            </p>
            <form method="post" class="form-inline" > <!-- form inline tells ki  sab kuch ek hi line mei a jaye button bhi -->
                <input type="email" name="emailid" placeholder="Enter Email Id" required class="form-control  mr-4" >  <!--- required means thi is mandatory to fill--><!-- form control class means full width lele-->  <!-- mr means margin right in bootstrap use kiyaa  -->
                
                 <input type="submit" value="Send"  class="btn btn-secondary"> <!-- this btn btn primary n seconadry are classs of button u can use any -->
    
            </form>
    
    
        </div>
    
            </div>
            </div>
            </div>


             <!--- this is for checking error in user login -->
             {% if error == "no"  %}
             <script>
                 alert("Login Successfull");
                 window.location.href=("/userhome/");
             </script>
             {% endif %}
 
             {% if error == "yes" %}
             <script>
                 alert("Invalid Login Credentials,Try Again.....");
                 
             </script>
               {% endif %}

               {% if error == "not" %}
               <script>
                   alert("Your Login Status is pending");
                   
               </script>
                 {% endif %}

                

               </body>
               </html>
 
               
             
     
                  
     
         
 
 
            
    
                 
    
        


        
      