<!----- USER HOME PAGE-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
   

    <link rel="stylesheet" href="/static/2.css/my.css">    <!-- my csss -->
</head>



<body>
    <!--- this is user navigation bar ---------------------->

    <div class="container">
        <div class="row">
          
                <span class="col1">
                <img src="https://5.imimg.com/data5/GS/LX/RK/SELLER-28915298/job-portal-service-500x500.jpg" width="400px"  height="190px">
                </span>
                
                
                <div class="col2 ">
                    <span  class="span">
                        <span style="color:red">Online Job </span>
                        <span style="color:green"> Portal System</span>
                    </span>


                    <div class="col3">
                        <span style="color:blue"><i class="fa fa-twitter "></i></span>
                        <span style="color:rgb(197, 42, 182)"><i class="fa fa-facebook "></i></span>
                        <span style="color:cyan"><i class="fa fa-linkedin "></i></span>
                        <span style="color:rgb(210, 44, 72)"><i class="fa fa-instagram"></i></span>
                        <span style="color:rgb(100, 100, 225) "><i class="fa fa-telegram "></i></span>
                    </div>
                </div>
            </div>
        </div>
        <nav class=" navbar navbar-expand-sm">
         <a class="navbrand"> Job Portal</a>
         <ul class="nav">
            <li class="navitem"> <a class="navlink" href="/userhome/" style="margin-left:280px"><i class="fa fa-home margin-right:2px"></i>Home</a></li>
            <li class="navitem"> <a class="navlink" href="#" ><i class="fa fa-users"></i>Jobs List</a></li>
            <li class="navitem"> <a class="navlink" href="/passuser/"><i class="fa fa-user-circle"></i> Change Password </a></li>
            <li class="navitem"> <a class="navlink" href="/Logout/"><i class="fa fa-sign-out"></i></a> Logout</li>
            
         </ul>
        </nav>
        









    
</body>
</html>